.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 243, 248);
  min-height: 100vh;
}
nav {
  text-align: center;
}

nav h1 {
  font-size: 3rem;
  color: rgb(81, 120, 155);
}

.body{
  display: flex;
  flex-direction: column;
}

.sub-heading{
  text-align: center;
  color: rgb(99, 95, 95);
}

.class-classification{
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-classification button{
  border: none;
  border-bottom: 0.5rem solid;
  border-radius: 0;
}

