.inputFieldContainer{
    display: flex;
    flex-direction: column;
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.inputField input{
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid rgb(181, 202, 221);
    width: 50%;
}
.inputField button{
border: none;
font-size: 1rem;
margin-left: 0.1rem;
padding: 0.8rem;
padding-left: 2rem;
padding-right: 2rem;
background-color: rgb(81, 120, 155);
border-radius: 10px;
color: white;
}

.inputField button:hover{
    cursor: pointer;
}
